body {
    background-color: rgb(194, 194, 194);
    margin: 1px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin: 1em;
    min-height: 150px;
    /*border: 1px solid black;*/
}


#logo img{
    width: 120px;
    padding-top: 1.8em;
    margin-right: 0.5em;
    height: auto;
    float: right;
}

.titulo-1 {
    margin: 0 0 1em;
    padding: 1.7em 0 0 0.7em;
    font-family:fantasy;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.contenedor-titulo {
    background-color: rgb(58, 56, 56);
    border-radius: 25px;
    width: 100%;
    height: 150px;
    animation-name: cambiaColor;
    /*animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;*/
    animation: BGcolorChanging-4colors 4s linear infinite alternate both;
    box-shadow:0px 4px 3px rgba(0,0,0,.5);
    
}

@keyframes BGcolorChanging-4colors {
	0% {
	  background: rgba(0,136,144,255);
	}
	33% {
	  background: rgb(141, 143, 145);
	}
	66% {
	  background: rgb(141, 143, 145);
    }
	100% {
	  background: rgba(0,136,144,255);
	}
  }


.menu-simple {
    list-style-type: none;
    margin: 1em;
    background:hsl(172, 93%, 29%);
    border: 1px solid black;
    border-radius: 2em;
    box-shadow:0px 4px 3px rgba(0,0,0,.5);
    
    /*flex*/
    display: flex;
    flex-wrap: initial;
    justify-content: space-around;   
}

.menu-simple a {
    font-size: medium;
    display: block;
    text-decoration: none;
    border-radius: 2em;
    color: hsl(0, 0%, 100%);
    padding: .6em 1em;
    
    /*flex*/
    flex: auto;
    flex-wrap: initial;
    text-align: center;
}

.menu-simple a:hover {
    background:hsl(210, 31%, 33%);
}

.menu-simple a:active {
    background-color: aliceblue;
    color: black;
}

.menu-fixed {
	position:fixed;
	z-index:1000;
	top:0;
    width: 450px;
	box-shadow:0px 4px 3px rgba(0,0,0,.5);    
}
 /*FIN encabezado y nav*/

.cards {
     /*flex:*/
    background:rgb(109, 106, 106);
    margin: 1em;
    border-radius: 0.5em;
	flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 3px 3px 8px rgb(109, 106, 106);
}

.tarjeta {
    /*background: hsl(0, 0%, 100%);*/
    background: linear-gradient(to right, rgb(25, 179, 120), white);
    border-radius: 0.5em;
    box-shadow: 3px 3px 8px rgb(109, 106, 106);
    margin-bottom: 0;
    width: 24%;
}

.tarjeta a {
    color: hsl(239, 74%, 46%);
    text-decoration: none;
}
.tarjeta a:hover {
    box-shadow: 3px 3px 8px rgb(109, 106, 106);
}

.tarjeta-content {
    padding: 1.4em;
}

.tarjeta-content h2 {
    margin-top:0;
    margin-bottom:.5em;
    font-weight:bold;
    text-align: center;
    font-style: italic;   
}

.tarjeta-content a {
    text-shadow: 5px gray;
    color: rgb(15, 29, 233);
    font-size: 95%;
    font-style: italic;
    font-weight:bold;
    text-decoration: none;   
}

.tarjeta-content p {
    text-align: justify;
    color: black;
    font-size: 95%;    
}

#video-arduino {
    display: block;
    border: auto;
    width: 85%;
    height: auto;
    margin: auto;
    margin-top: 25px;
    border-radius: 15px;
}

#gif {
    display: block;
    margin:auto;
    border:0;
    width: 80%;
    height: auto;
    border-radius: 15px;
}

#gif2{
    display: block;
    margin:auto;
    border:0;
    width: 65%;
    height: auto;
    border-radius: 15px;
}

#espgif {
    
    border-radius: 15px;
    width: 100%;
    
   
}

footer {
	width: 95%;
    min-height : 150px;
    padding: auto;
    margin: auto;
    margin-bottom: 1em;
	border: 1px solid black;
    border-radius: 25px;
    background-color: rgb(95, 155, 145);
    box-shadow:4px 4px 3px rgba(0,0,0,.5);	
}

.texto_footer {
    margin: 0 0 1em;
    padding: 0.5em 0 0 0.3em;
    font-family:'Times New Roman', Times, serif;
    font-size: large;
    color: rgb(0, 0, 0);
}

.contenedor-footer {
    background-image: radial-gradient( circle 767px at 10.2% 22.1%,  rgba(11,218,81,1) 0%, rgba(0,191,255,1) 90% );
    border-radius: 25px;
    width: 100%;
    height: 150px;    
}

.contenedor-footer p {
    font-size: large;
    font-style: italic;
}

.buttons {
    min-width: 200px;
    display:flex;
    justify-content: space-around;
}
  
.buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #024d3a;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}
  
.buttons a:hover {
    transform: scale(1.25);
    background-color: rgb(95, 155, 145);
}
  
.buttons a:actived {
    background-color: rgb(22, 35, 211);
}
  

@media all and (max-width: 599px){

    .menu-simple a {
        font-size:smaller;
        display:block;
        text-decoration: none;
        border-radius: 2em;
        color: hsl(0, 0%, 100%);
        padding: .6em .5em;
        
        /*flex*/
        flex: auto;
        flex-wrap: initial;
        text-align: center;
    }

    .tarjeta-content {
        padding: 2px;
    }

    .tarjeta-content p {
        padding: 1px;
        margin: 1px;
        color: black;
        font-size: 70%;    
    }

    .tarjeta-content h2 {
        margin-top:0;
        margin-bottom:.5em;
        font-weight:bold;
        text-align: center;
        font-style: italic; 
        font-size: smaller;  
    }

    .contenedor-footer p {
        font-size:smaller;
        font-style: italic;
    }


    .buttons {
        min-width: 20px;
        display:flex;
        justify-content: space-around;
    }
    #logo{
        display: none;
    }


}





